.center {
margin: auto;
margin-left: auto;
margin-right: auto;
display: block;
}

#about {
  width: 30%;
  margin-left: 10px;
  border-width: 10px;
  border-style: solid;
  border-color: lightslategrey;
  padding: 10px;
  display: inline-block;
  float: left;
}

#exp {
  width: 30%;
  margin-left: 10px;
  display: inline-block;
  padding: 10px;
  float: left;
}

#top10 {
  width: 30%;
  margin-left: 5px;
  display: inline-block;
  padding: 5px;
  float: left;
}

p {
  background: white;
}

h1 {
  background: white;
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  background: white;
}

ul, ol {
  background: lightslategrey;
  padding: 10px;
}

li {
  background: white;
  padding: 10px;
}

* {
  margin: auto;
}